.mainCard {
  display: flex;
  flex-wrap: wrap;
}

.cart .image {
  width: 65px;
  height: 100px;
}
.cart .imagediv {
  width: 60%;
}
.cart {
  padding: 10px;
  width: 460px;
  display: flex;
  gap: "5px";
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.cartCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.178);
}
.cart .footer {
  width: 110%;
  margin-top: 0px;
  padding-left: 15px;
}
.cart .maincard {
  display: flex;
}
.order {
  display: flex;
}
