.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  outline: none;
  background: linear-gradient(
    180deg,
    rgb(56, 56, 56) 0%,
    rgb(36, 36, 36) 66%,
    rgb(41, 41, 41) 100%
  );
  color: #fff;
  transition: 0.3s ease;
  border: 2px solid;
  border-image: conic-gradient(#33ff00, #0905ff, #fb3333);
}

.input::placeholder {
  color: #fff;
}

.input:focus::placeholder {
  color: #999;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #fff;
  width: 1rem;
  height: 1rem;
}
